body {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
    text-align: center;
}

.Dh1 {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 50vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    background-color: white;
}
